.ant-layout {
  background-color: #f0f5fa;
  height: 100vh;
}

.ant-layout-header {
  background-color: #f0f5fa;
  color: #fff;
  height: 10vh;
  padding: 0 16px;
}

.ant-layout-header .header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ant-layout-header .header-container-mob {
  display: none;
}

.ant-layout-header .header-container .header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ant-layout-footer {
  background: #f0f5fa;
  color: #fff;
  line-height: 1.5;
  bottom: 0;
  height: 10vh;
}

.ant-layout-sider {
  background-color: #ffffff;
  color: #fff;
  line-height: 120px;
  height: 100vh;
}

.ant-layout-sider .sider-container {
  padding-left: 15px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.ant-layout-sider .sider-container img {
  padding-top: 60px;
  padding-bottom: 15px;
  padding-left: 25px;
}

.ant-layout-sider .sider-container .name-avatar {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  color: #A0AFBC;
  padding-bottom: 15px;
  padding-left: 25px;
}

.ant-layout-sider .sider-container .afiliation-avatar {
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  color: #A0AFBC;
  padding-bottom: 30px;
  padding-left: 25px;
}

.ant-layout-sider .sider-container .button-new-signature {
  display: none;
}

.ant-layout-content {
  background: #f0f5fa;
  line-height: 120px;
  color: #A0AFBC;
  min-height: auto;
}

.ant-layout-content .content-container {
  padding: 14px;
  background-color: #fff;
  height: 100%
}

.ant-layout-content .content-container .content-header {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  border-bottom: 1px solid #BCC9D5;
}

.ant-layout-content .content-container .content-main {
  padding-top: 15px;
}

.ant-menu:not(.ant-menu-horizontal) {
  background-color: unset;
  color: #A0AFBC;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  color: #1890ff;
}

.footer {
  bottom: 0;
  color: #96a8b7;
  display: flex;
  justify-content: space-between;
}

.footer .menus {
  display: flex;
  justify-content: space-between;
}

.footer .menus .menu {
  width: 150px;
}

.logo-header-mob {
  display: none;
}

@media (max-width: 1024px) {

  .ant-layout-sider-zero-width-trigger {
    display: none;
  }

  .logo-header-mob {
    display: block;
  }

  .ant-layout-header .header-container {
    display: none;
  }

  .ant-layout-header .header-container-mob {
    display: flex;
    height: 64px;
    background: #009CDA;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    color: #FFFFFF;
    justify-content: space-between;
    align-items: baseline;
    padding: 0px 20px;
    font-size: 20px;
  }

  .ant-layout-header .header-container-mob h1 {
    color: #FFFFFF;
  }

  .ant-layout-header .header-container-mob .button-bell {
    color: #FFFFFF;
  }

  .ant-layout-sider .sider-container img {
    padding-top: 100px;
  }

  .ant-layout-sider .sider-container .button-new-signature {
    display: block;
    width: 100%;
    padding-left: 25px;
  }
}

@media (max-width: 425px) {
  .ant-layout-content .content-container .content-header {
    display: none;
  }

  .footer .menus {
    flex-direction: column;
  }
}