.advanced-container h3 {
  color: #96A8B7;
}

.advanced-container .ant-form-item {
  margin-bottom: 5px;
}

.advanced-container .ant-form-item-label {
  padding: 0;
}

.advanced-container .ant-form-item-label>label {
  color: #96A8B7;
}